@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url("image/fondtest4.jpg") center / cover no-repeat;
            background-repeat: no-repeat;
            background-color: black;
            font-family: "Roboto Slab", serif;
        }

        button {
            border-radius: 50px;
            cursor: pointer;
            border: 0;
            box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            transition: all 0.5s ease;
        }

        button:hover {
            letter-spacing: 3px;
            background-image: linear-gradient(to right, #FFA500, #FFD700, #FF8C00);
            box-shadow: #F5D742 0px 7px 29px 0px;
        }

        button:active {
            letter-spacing: 3px;
            background-color: #F5D742;
            box-shadow: #F5D742 0px 0px 0px 0px;
            transform: translateY(10px);
            transition: 100ms;
        }

        /*--------------------------titre et haut----------------------*/
        article {
            padding: 20px;
            margin: 400px 0 300px 0;
        }

        article h1 {
            font-size: 25px;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
            letter-spacing: 2px;
            line-height: 1.8;
            font-weight: bold;
            text-align: left;
        }

        /*---------------- text effet -------------------*/
        section {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
            margin: 100px 0 200px 0;
        }

        .textH1,
        .textP {
            max-width: 80%;
            overflow: hidden;
            margin: 20px 0;
            color: white;
        }

        .textH1 {
            font-size: 1.5rem;
            line-height: 1.5em;
            font-weight: 400;
            ;
        }

        .textH1 span,
        .textP span {
            display: inline-flex;
            color: transparent;
            transition: all 0.5s ease-out;
            opacity: 0;
            transform: translateY(500px) rotate(360deg) scale(0.9);
        }

        .textH1 span.reveal {
            color: white;
            opacity: 1;
            transform: translateY(0px) rotate(0deg) scale(1);
        }

        .textH1 span.revealjaune {
            color: rgb(226, 230, 81);
            opacity: 1;
            transform: translateY(0px) rotate(0deg) scale(1);
        }


        .textP span.reveal {
            color: #bfbfbf;
            opacity: 1;
            transform: translateY(0px) rotate(0deg) scale(1);
        }


        /*---------------- Bar de Recherche -------------------*/
        .search-bar {
            background-color: black;
            width: 90%;
            margin: 20px auto 300px auto;
            box-shadow: none;
        }

        .search-input {
            background-color: black;
            color: #bfbfbf;
            border: none;
            border-bottom: 3px solid rgb(226, 230, 81);
            padding: 12px 15px;
            margin-bottom: 40px;
            outline: none;
            transition: all 0.3s ease;
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon points="0,0 10,10 20,0" style="fill:rgb(226, 230, 81);"/></svg>') no-repeat right 10px center;
            background-size: 10px;
            font-size: 1.3rem;
        }

        .search-input::-ms-expand {
            display: none;
            /* Remove default arrow in Internet Explorer */
        }

        .search-input:focus {
            border-bottom: 2px solid #ffcc00;
            box-shadow: none;
        }

        .search-button {
            padding: 12px 15px;
            border-radius: 20px;
            margin: 15px 0;
            outline: none;
            width: 100%;
            background-image: linear-gradient(to right, #ffcc00, #e1e651, #ffcc00);
            color: white;
        }

        /*---------------- Story Section -------------------*/
        .story-section {
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: center;
            justify-content: center;
            margin-bottom: 150px;
            background-color: black;
            gap: 20px;
            font-size: 1.8rem;
        }

        .story-image img {
            width: 100%;
            height: auto;
            max-width: 600px;
            margin-bottom: 10px;
            border: none;
        }

        .story-content {
            padding: 20px;
            color: #bfbfbf;
            font-size: 16px;
            line-height: 1.6;
        }

        .story-content button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-image: linear-gradient(to right, #ffcc00, #e1e651, #ffcc00);
            color: white;
        }

        .yellow-button {
            display: flex;
            justify-content: center;
            background-color: #f5d742a9;
            color: black;
            border: none;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 10px 2px;
            cursor: pointer;
            border-radius: 8px;
        }