.fond {
    background-color: #cccccc; /* ou toute autre couleur grise que vous souhaitez */
}

.UserPicture {
    width: 50px; /* Ajustez la taille comme vous le souhaitez */
    height: 50px; /* Ajustez la taille comme vous le souhaitez */
    border-radius: 50%; /* Cela rend l'image ronde */
    object-fit: cover; /* Cela garantit que l'image couvre toute la zone, mÃªme si elle est ronde */
}